<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

	<Properties>
		<Property name="A2FileName">$${web:rootDir}/app.log
		</Property>
	</Properties>

	<Appenders>
		<File name="access" fileName="d:/access.log">
			<PatternLayout pattern="%d [%t] %-5p %C(%F:%L) - %m%n" />
		</File>
		<File name="framework" fileName="d:/framework.log">
			<PatternLayout pattern="%d [%t] %-5p %C(%F:%L) - %m%n" />
		</File>
		<RollingFile name="biz" fileName="d:/numb_biz.log"
			filePattern="d:/numb_biz_%d{yyyy-MM-dd}_%i.log">
			<PatternLayout pattern="%d [%t] %-5p %C(%F:%L) - %m%n" />
			<Policies>
				<!-- 每24小时更新一次 -->
				<TimeBasedTriggeringPolicy modulate="true"
					interval="24" />
			</Policies>
		</RollingFile>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%t] %-5p %C(%F:%L) - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="org.apache.log4j.access" level="info">
			<AppenderRef ref="access" />
		</Logger>
		<Logger name="org.apache.log4j.biz" level="info" additivity="false">   <!-- additivity =false 保证写入文件而不打印到控制台 -->
			<AppenderRef ref="biz"></AppenderRef>
		</Logger>
		<Root level="info">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="framework" />
		</Root>
	</Loggers>
</Configuration>