<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.tangsi.address.dao.AddressMapper">
	
	<resultMap type="address" id="addressMap">
		<id property="id" column="id" jdbcType="NUMERIC"></id>	
		<result property="userId" column="user_id" jdbcType="NUMERIC"/>
		<result property="name" column="name" jdbcType="VARCHAR"/>
	</resultMap>


	
	<insert id="save" >
		<selectKey keyProperty="id" resultType="java.lang.Long"  order="BEFORE">
			select seq_t_ts_address.nextval  from dual 
		</selectKey>
		insert into t_ts_address(id, user_id, name) values(
			#{id},#{userId},#{name}
		)
	</insert>

</mapper>